h1 {
    font-family: "Fira Sans Condensed", sans-serif;
    text-align: center;
    color: white;
    background-color: black;
    
}

img {
    height: auto;
    width: 500px;
}

.list,
h3,
p {
    font-family: Nunito, sans-serif;
    font-size: 18px;
}

.list,
p {
    font-weight: 300;
}

h3 {
    text-align: center;
}